<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
</head>
<body>
  <button type="button" onclick="location.href='/manager/viewBbsAll'">게시판</button>
  <button type="button" onclick="location.href='/manager/viewInquiryAll'">문의글</button>
  <button type="button" onclick="location.href='/manager/plot'">리뷰데이터</button>
  <img src="/images/b/34" alt="이미지">


</body>
</html>