<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>신고글 처리</title>
  <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
        text-align: left;
    }
  </style>
</head>
<body>
<h1>신고글 처리</h1>
<form id="deleteForm" method="POST">
  <table>
    <thead>
    <tr>
      <th>선택</th>
      <th>게시글 번호</th>
      <th>산 코드</th>
      <th>제목</th>
      <th>내용</th>
      <th>상태</th>
      <th>작성일</th>
      <th>수정일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bbs : ${list}">
      <td><input type="checkbox" name="bbsIds" th:value="${bbs.bbsId}"/></td>
      <td th:text="${bbs.bbsId}">게시글 번호</td>
      <td th:text="${bbs.mntnCode}">산 코드</td>
      <td th:text="${bbs.title}">글 제목</td>
      <td th:text="${bbs.bcontent}">내용</td>
      <td th:text="${bbs.status}">상태</td>
      <td th:text="${bbs.cdate}">작성일</td>
      <td th:text="${bbs.udate}">수정일</td>
    </tr>
    </tbody>
  </table>
  <!-- 일괄 삭제 버튼 -->
  <button type="button" onclick="deleteSelectedBbs()">선택된 항목 삭제</button>
</form>

<script th:inline="javascript">
  function deleteSelectedBbs() {
    var selectedBbsIds = [];
    var checkboxes = document.getElementsByName("bbsIds");
    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        selectedBbsIds.push(checkboxes[i].value);
      }
    }
    if (selectedBbsIds.length === 0) {
      alert("삭제할 항목을 선택해주세요.");
    } else {
      if (confirm('선택한 ' + selectedBbsIds.length + '개의 항목을 삭제하시겠습니까?')) {
        fetch('/manager/comBbs', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(selectedBbsIds)
        })
        .then(response => {
          if (response.ok) {
            console.log(selectedBbsIds);
            // 성공적으로 삭제된 경우에 대한 처리
            location.reload(); // 페이지 새로고침
          } else {
            console.log(selectedBbsIds);
            // 삭제에 실패한 경우에 대한 처리
            alert('게시물 삭제에 실패하였습니다.');
          }
        })
        .catch(error => {
          console.error('Error deleting bbs:', error);
          alert('게시물 삭제 중 오류가 발생하였습니다.');
        });
      }
    }
  }
</script>
</body>
</html>
