<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="beta_mainlobby.css">
  <link rel="stylesheet" href="beta_mainlobby.js">
  <script src="https://kit.fontawesome.com/3d0b764884.js" crossorigin="anonymous"></script>

  <title>main_lobby</title>
</head>
<body class="main_body">
  <header class="header">
    <div class="background_logo">
      <div class="dummy"></div>
      <div class="logo_box"><img class="logo" src="logo.png" alt="로고"></div>
      <div class="login"><a href="#1">로그인</a>/<a href="#2">회원가입</a></div>
    </div>
    <div class="background_menu">
        <div class="header_menu"><i class="header_icon fa-solid fa-bars"></i></div>
        <div class="header_dummy"></div>
        <div class="header_search"><i class="header_icon fa-solid fa-magnifying-glass"></i></div>
    </div>
  </header>
  <main class="main">
    <div class="in_header">
      <div class="in_header_box">
          <h1 class="in_header_text">Lorem</h1>
          <div class="in_header_text">test log</div>
      </div>
    </div>
    <div class="dummy3 down"></div>
    <div class="weather down">
      <div class="temperature">
        <div class="in_temperature">
          <div class="temperature_text">
            <div>
              <h1 class="temperature_font">13ºC</h1>
            <span class="temperature_font">울산 광역시, 남구</span>
            </div>
          </div>
          <div class="temperature_icon">
            <div><i class="temperature_icon fa-solid fa-sun"></i></div>
          </div>
        </div>
      </div>
      <div class="fire">
        <div class="in_fire">
          <div class="fire_icon">
            <div> <i class="fire_icon fa-solid fa-house-fire"></i></div>
          </div>
          <div class="fire_text">
            <div class="in_fire_text fire_font">
              <div class="area_name">
                <div>
                  <h3 class="fire_font">a</h3>
                  <span class="fire_font">b</span>
                </div>
              </div>
              <div class="fire_name">
                <div>
                  <h3 class="fire_font">c</h3>
                  <span class="fire_font">d</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rain">
        <div class="in_rain">
          <div class="precipitation">
            <div class="fire_icon precipitation_icon">
              <div> <i class="fire_icon fa-solid fa-house-fire"></i></div>
            </div>
            <div class="rain_text precipitation_text">
              <div>
                <h3 class="fire_font">a</h3>
                <span class="fire_font">b</span>
              </div>
            </div>
          </div>
          <div class="morning">
            <div class="fire_icon morning_icon">
              <div> <i class="fire_icon fa-solid fa-house-fire"></i></div>
            </div>
            <div class="rain_text morning_text">
              <div>
                <h3 class="fire_font">c</h3>
                <span class="fire_font">d</span>
              </div>
            </div>
          </div>
          <div class="UV_rays">
            <div class="fire_icon UV_rays_icon">
              <div> <i class="fire_icon fa-solid fa-house-fire"></i></div>
            </div>
            <div class="rain_text UV_rays_text">
              <div>
                <h3 class="fire_font">e</h3>
                <span class="fire_font">f</span>
              </div>
            </div>
          </div>
          <div class="evening">
            <div class="fire_icon evening_icon">
              <div> <i class="fire_icon fa-solid fa-house-fire"></i></div>
            </div>
            <div class="rain_text evening_text">
              <div>
                <h3 class="fire_font">g</h3>
                <span class="fire_font">h</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chart">
        <div class="in_chart">
          <div class="chart_name">그래프제목[산불 위험]</div>
          <div class="chart_log">그래프사진</div>
        </div>
      </div>
    </div>
    <div class="dummy4 down"></div>
    <div class="dummy5 down"></div>
    <div class="mountain down">
      <div class="in_mountain">
        <div class="mountain1 mountain_color"></div>
        <div class="mountain2 mountain_color"></div>
        <div class="mountain3 mountain_color">
          <div class="in_mountain3">
            <div class="mountain_data1">
              <div class="mountain_img"></div>
            </div>
            <div class="mountain_data2"></div>
            <div class="mountain_data3"></div>
            <div class="mountain_data4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="dummy6 down"></div>
    <div class="dummy7 down"></div>
    <div class="blog down">
      <div class="in_blog">
        <div class="blog1 blog_data blog_color">
          <div class="in_blog2 in_blog_data">
            <div class="blog1_name">
              <span>산</span>
            </div>
            <div class="blog1_poto"></div>
            <div class="blog1_title">
              <div class="blog1_input"><span>산 제목</span></div>
              <div class="bookmark1">
                <div><i class="blog_icon fa-regular fa-bookmark"></i></div>
              </div>
            </div>
            <div class="blog1_text"><span>산 부제목</span></div>
            <div class="blog1_log">
              <div class="blog2_log_input"><span>태그</span></div>
              <div class="log_bookmark2">
                <div><i class="blog_icon fa-solid fa-ellipsis"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog2 blog_data blog_color">
          <div class="in_blog1 in_blog_data">
            <div class="blog2_name">
              <span>산</span>
            </div>
            <div class="blog2_poto"></div>
            <div class="blog2_title">
              <div class="blog2_input"><span>산 제목</span></div>
              <div class="bookmark2">
                <div><i class="blog_icon fa-regular fa-bookmark"></i></div>
              </div>
            </div>
            <div class="blog2_text"><span>산 부제목</span></div>
            <div class="blog2_log">
              <div class="blog2_log_input"><span>태그</span></div>
              <div class="log_bookmark2">
                <div><i class="blog_icon fa-solid fa-ellipsis"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dummy8 down"></div>
  </main>
  <footer class="footer down">
  </footer>
</body>
</html>