<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mainlobby.css">
    <link rel="stylesheet" href="mainlobby.js">
    <script src="https://kit.fontawesome.com/3d0b764884.js" crossorigin="anonymous"></script>
    
    <title>mainlobby</title>
    
</head>
<body class="main_bady">
    <div class="maindbady_Grid">
        <header class="header">
            <div class="background_logo">
                <img class="logo" src="logo.png" alt="">
            </div>
            <div class="line">
                <div class="menu background_icon"><i class="font_icon fa-solid fa-bars"></i></div>
                <div class="header_img">
                    <div class="title_data">
                        <div class="title_tag">
                            <h1 class="title_name">Lorem</h1>
                            <div class="title_name">test log</div>
                        </div>
                    </div>
                </div>
                <div class="search background_icon"><i class="font_icon fa-solid fa-magnifying-glass"></i></div>
            </div>
        </header>
        <main class="main">
            <div class="dummy1"></div>
            <div class="weather">
                <div class="temperature">
                    <div class="in_temperature">
                        <div class="weather_log">
                            <h2 class="font">13 ºC</h2>
                            <p class="font">울산 광역시, 남구</p>
                        </div>
                        <div class="weather_icon">
                            <i class="font_icon_white fa-solid fa-sun"></i>
                        </div>
                    </div>
                </div>
                <div class="fire">
                    <div class="icon">
                        <i class="font_icon fa-solid fa-house-fire"></i>
                    </div>
                    <div class="in_fire">
                        <div class="name1"></div>
                        <div class="data1"></div>
                        <div class="name2"></div>
                        <div class="data2"></div>
                    </div>
                </div>
                <div class="rain">
                    <div class="rain_data1">
                        <div class="icon">
                            <i class="font_icon fa-solid fa-cloud-showers-heavy"></i>
                        </div>
                        <div>
                            <div>a</div>
                            <div>b</div>
                        </div>
                    </div>
                    <div class="rain_data2">
                        <div class="icon">
                            <i class="font_icon fa-solid fa-cloud-showers-heavy"></i>
                        </div>
                        <div>
                            <div>a</div>
                            <div>b</div>
                        </div>
                    </div>
                    <div class="rain_data3">
                        <div class="icon">
                            <i class="font_icon fa-solid fa-cloud-showers-heavy"></i>
                        </div>
                        <div>
                            <div>a</div>
                            <div>b</div>
                        </div>
                    </div>
                    <div class="rain_data4">
                        <div class="icon">
                            <i class="font_icon fa-solid fa-cloud-showers-heavy"></i>
                        </div>
                        <div>
                            <div>a</div>
                            <div>b</div>
                        </div>
                    </div>
                </div>
                <div class="chart">그래프 위치</div>
            </div>
            <div class="dummy2"></div>
            <div class="dummy3"></div>
            <div class="mountain">
                <div class="mountain_color mountain_data1">
                    <div>a</div>
                </div>
                <div class="mountain_color mountain_data2">
                    <div>a</div>
                </div>
                <div class="mountain_color mountain_data3">
                    <div>a</div>
                </div>
            </div>
            <div class="dummy4"></div>
            <div class="dummy5"></div>
            <div class="blog">
                <div class="mountain_color blog_data1">
                    
                </div>
                <div class="mountain_color blog_data2">

                </div>
            </div>
            <div class="dummy6"></div>
        </main>
        <footer class="footer">
          a
        </footer>
    </div>
</body>
</html>