<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/common/css/template.css">
  <style>
    /* 테이블 스타일 */
    table {
      width: calc(100% - 80px);
      /* 전체 너비에서 좌우 여백 40px씩 빼기 */
      border-collapse: collapse;
      margin: 20px auto;
      /* 위쪽 여백과 가운데 정렬 */
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
    }

    th {
      background-color: #f2f2f2;
      color: var(--color-black);
      /* 헤더 글자색 */
    }

    td {
      text-align: center;
      /* 표 내용 가운데 정렬 */
    }

    .chk {
      text-align: center;
    }

    .wrap h4 {
      line-height: 300px;
      margin-top: 200px;
      font-size: 2.5vh;
    }
  </style>
</head>

<body>
  <div class="wrap">
    <header>
      <div>header 80px</div>
    </header>
    <nav>gnb</nav>
    <aside>search</aside>
    <h4>게시판 관리자</h4>
    <main>
      <div class="container">
        <form th:action="@{/manager/searchBbs}" method="get" onsubmit="handleSearch(event)">
          <select name="searchType">
            <option value="all" selected> 전체</option>
            <option value="title">제목</option>
            <option value="mntnName">산 이름</option>
            <option value="nickname">작성자</option>
          </select>
          <input type="text" name="keyword" placeholder="검색어" />
          <button type="submit">검색</button>
        </form>
        <form id="frm" method="POST">
          <div>
            <table>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>작성자</th>
                  <th>제목</th>
                  <th>조회수</th>
                  <th>작성일</th>
                  <th>수정일</th>
                  <th>산 이름</th>
                  <th>글 상태</th>
                </tr>
              </thead>
              <tbody class="rows">
                <tr class="row" th:each="bbs : ${list}">
                  <td class="chk"><input type="checkbox" name="bbsIds" th:value="${bbs.bbsId}" /></td>
                  <td th:text="${bbs.nickname}"></td>
                  <td th:text="${bbs.title}"></td>
                  <td th:text="${bbs.hit}"></td>
                  <td th:text="${#temporals.format(bbs.cdate, 'yyyy년 MM월 dd일')}"></td>
                  <td th:text="${#temporals.format(bbs.udate, 'yyyy년 MM월 dd일')}"></td>
                  <td th:text="${bbs.mntnNm}"></td>
                  <td th:text="${bbs.status == 'N' ? '정상' : (bbs.status == 'W' ? '신고됨' : '기타')}"></td>
                </tr>
              </tbody>
            </table>
            <button type="button" onclick="deleteSelectedBbs()">선택된 항목 삭제</button>
        </form>
      </div>
    </main>
    <footer>footer</footer>
  </div>
</body>
<script th:inline="javascript">
  function deleteSelectedBbs() {
    var selectedBbsIds = [];
    var checkboxes = document.getElementsByName("bbsIds");
    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        selectedBbsIds.push(checkboxes[i].value);
      }
    }
    if (selectedBbsIds.length === 0) {
      alert("삭제할 항목을 선택해주세요.");
    } else {
      if (confirm('선택한 ' + selectedBbsIds.length + '개의 항목을 삭제하시겠습니까?')) {
        fetch('/manager/comBbs', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(selectedBbsIds)
        })
          .then(response => {
            if (response.ok) {
              console.log(selectedBbsIds);
              // 성공적으로 삭제된 경우에 대한 처리
              location.reload(); // 페이지 새로고침
            } else {
              console.log(selectedBbsIds);
              // 삭제에 실패한 경우에 대한 처리
              alert('게시물 삭제에 실패하였습니다.');
            }
          })
          .catch(error => {
            console.error('Error deleting bbs:', error);
            alert('게시물 삭제 중 오류가 발생하였습니다.');
          });
      }
    }
  }
</script>

</html>